#page-header #post-info {
  position: absolute;
  bottom: 100px;
  padding: 0 8%;
  width: 100%;
  text-align: center;
}

@font-face {
  font-family: 'zhuziawan';
  font-display: swap;
  src: url("../fonts/ZhuZiAWan.woff2");  
}
